
.dropdown {
    position: relative;
    display: inline-block;

    .dropdown-content {
        display: none;
        z-index: 1001;
        position: absolute;
        inline-size: 10em;
        margin: 0;
        padding: 0;
        list-style: none;
        background: $bg;
        color: $fg;
        box-shadow: $shadow;
    }
    .dropdown-content > a {
        display: inline-block;
        padding-block: 0.75em;
        padding-inline: 0.5em;
        color: $fg;
    }
    .dropdown-content > a:hover {
        background: $fg;
        color: $bg;
    }
}

.dropdown:hover {
    .dropdown-content {
        display: block;
    }
    a {
        display: block;
        cursor: pointer;
    }
}
