
.mw-htmlform {
    writing-mode: horizontal-tb;
    width: 90vw;
    max-width: 42em;
    input, textarea, select {
        width: 90vw;
        max-width: 40em;
    }
    input[type="submit"] {
        width: 100%;
    }
}

.mw-search-form-wrapper {
    writing-mode: horizontal-tb;
}

.mw-prefs-search {
    writing-mode: horizontal-tb;
    float: left;
}

.movepage-wrapper, .deletepage-wrapper {
    writing-mode: horizontal-tb;
}

.oo-ui-defaultOverlay {
    writing-mode: horizontal-tb;
}

.mw-echo-ui-notificationsInboxWidget {
    writing-mode: horizontal-tb;
}

.mw-htmlform-ooui-wrapper {
    overflow-x: hidden;
    overflow-y: scroll;
}

.oo-ui-fieldLayout.oo-ui-fieldLayout-align-inline > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-field {
    height: 1px;
}

#mw-htmlform-source, #mw-htmlform-description {
    tr {
        display: flex;
        flex-direction: column;
    }
}

#mw-htmlform-options {
    input {
        width: unset;
    }
}

.mw-editform {
    .wikiEditor-ui {
        writing-mode: horizontal-tb;
        width: auto;
        block-size: 100%;
        .wikiEditor-ui-left {
            float: none;
        }
    }
    #wpTextbox1 {
        inline-size: 60em;
        max-inline-size: 90vw;
    }
    #wpSummary {
        inline-size: 100%;
    }
    .editCheckboxes {
        writing-mode: horizontal-tb;
        margin-left: 1em;
        > * {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }
    #editpage-copywarn {
        line-height: 200%;
    }
}

.mw-editform .editOptions {
    margin-bottom: 0;
}
