
div.notice {
    background: #9addff40;
    padding-block: 0.5em;
    padding-inline-end: 1em;
    border: 2px solid #89caec;
    border-radius: 1em;
    line-height: 200%;
    li {
        list-style-type: none;
    }
}

table.wikitable {
    border: $border;
    border-collapse: collapse;
    background: $bg;
    tr, th, td {
        padding-inline: 0.5em;
        padding-block: 0.25em;
        border: $border;
        border-width: 1px;
    }
    th {
        background: $accent-bg;
    }
}

span.mw-editsection {
    font-size: 1rem;
    margin-inline-start: 0.5rem;
    .mw-editsection-bracket {
        text-orientation: mixed;
    }
}

ul.gallery > .gallerybox {
    writing-mode: horizontal-tb;
    margin: 1em;
}
