<li class="dropdown {{{class}}}" {{{html-tooltip}}}>
    <a class="dropdown-label article-menu">{{{label}}}</a>
    <ul class="dropdown-content">
        {{#array-items}}
            {{{html-item}}}
        {{/array-items}}
    </ul>
</li>