<li class="dropdown {{ class }}" {{ html-tooltip }}>
    <a class="dropdown-label">{{{ label }}}</a>
    <ul class="dropdown-content">
        {{#array-items}}
            {{{ html-item }}}
        {{/array-items}}
    </ul>
</li>