<footer class="site-footer">
    {{#data-footer.data-info.array-items}}
        <p>{{{ html }}}</p>
    {{/data-footer.data-info.array-items}}
    <p>
        {{#data-footer.data-icons.array-items}}
            {{{ html }}}
        {{/data-footer.data-icons.array-items}}
    </p>
</footer>