<header class="page-header">
    {{{html-title-heading}}}
    <nav class="page-menu">
        {{#data-portlets}}
            {{#data-views.array-items}}
                {{{html-item}}}
            {{/data-views.array-items}}
            {{^data-actions.is-empty}}
                {{#data-actions}}
                    {{>components/dropdown}}
                {{/data-actions}}
            {{/data-actions.is-empty}}
        {{/data-portlets}}
    </nav>
</header>