<header class="site-header">
    <div class="header-left">
    </div>
    <div class="header-center">
        {{#data-logos}}
            <img class="site-logo" src="{{1x}}">
        {{/data-logos}}
        <nav>
            {{#data-portlets-sidebar.data-portlets-first}}
                {{#array-items}}
                    {{{ html }}}
                {{/array-items}}
            {{/data-portlets-sidebar.data-portlets-first}}
        </nav>
    </div>
    <div class="header-right">
        {{>search-box}}
        {{>user-menu}}
    </div>
</header>