{{>site-header}}
<div class="main-wrapper">
    {{>site-notice}}
    <main class="site-main">
        {{>page-header}}
        {{{html-categories}}}
        {{{html-body-content}}}
        {{>footer}}
    </main>
</div>
