<div class="user-menu">
    {{#data-portlets.data-notifications.array-items}}
        <a class="icon" href="{{ href }}">{{{ label }}}</a>
    {{/data-portlets.data-notifications.array-items}}
    {{#data-portlets.data-personal}}
        {{>components/dropdown}}
    {{/data-portlets.data-personal}}
</div>