
body {
    writing-mode: vertical-rl;
    background: $root-bg;
    font-size: 1.12rem;
}

body, h1, h2, h3, h4, h5, h6, b {
    font-family: $sans-font;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
}

a {
    color: $link;
    text-decoration: none;
    &:hover, &:focus {
        color: $link-focus;
    }
    &.new {
        color: $redlink;
    }
    &.new:hover, &.new:focus {
        color: $redlink-focus;
    }
    &.external {
        color: $greenlink;
        text-orientation: mixed;
    }
    &.external.autonumber {
        display: inline-block;
    }
    &.external:hover, &.external:focus {
        color: $greenlink-focus;
    }
}

img, table {
    max-inline-size: 100%;
    block-size: auto;
    white-space: normal;
    line-break: anywhere;
}

b, strong {
    font-weight: 600;
}

blockquote {
    border: 2px dashed #8884;
    border-inline-start: 5px solid #222;
    padding: 10px;
    background: #8881;
    text-indent: 0px;
}

table.wikitable {
    border: $border;
    border-collapse: collapse;
    background: $bg;
    tr, th, td {
        padding-inline: 0.5em;
        padding-block: 0.25em;
        border: $border;
        border-width: 1px;
    }
    th {
        background: $accent-bg;
    }
}

.catlinks {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    border: $border;
    border-width: 2px;
    margin-inline: 2em;
    margin-block-start: 2em;
    padding-inline: 2em;
    border-radius: $radius-small;
    ul {
        display: inline-block;
        padding: 0;
        padding-inline-start: 0.5em;
    }
    li {
        display: inline-block;
        list-style-type: none;
        margin-inline-end: 0.5em;
    }
    li::before {
        content: '·';
        margin-inline-end: 0.5em;
    }
    li:first-child::before {
        content: initial;
    }
}

span.mw-editsection {
    font-size: 1rem;
    margin-inline-start: 0.5rem;
    .mw-editsection-bracket {
        text-orientation: mixed;
    }
}

ul.gallery > .gallerybox {
    writing-mode: horizontal-tb;
    margin: 1em;
}
