
.mw-body-content {
    margin-block: 2em;
    padding-inline: 2em;
    line-height: 200%;
}

header.site-header {
    writing-mode: horizontal-tb;
    width: 100vw;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    text-align: center;
    background: $header-bg;
    color: $header-fg;
    box-shadow: $shadow;
    img.site-logo {
        height: 2.8rem;
        width: 6.6rem;
    }
    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    nav > a {
        display: block;
        padding-block: 0.5rem;
        padding-inline: 0.5rem;
        color: $header-fg;
    }
    nav > a:hover {
        background: $header-fg;
        color: $header-bg;
    }
}

div.main-wrapper {
    width: 100vw;
    overflow-x: scroll;
    overflow-y: hidden;
    > * {
        margin: 2rem;
        margin-top: $nav-height;
        max-height: 45em;
    }
}

main.site-main {
    background: $bg;
    border: $border;
    border-radius: $radius;
    overflow-y: scroll;
}

div.notice {
    background: #9addff40;
    padding-block: 0.5em;
    border: 2px solid #89caec;
    border-radius: 1em;
    line-height: 200%;
    li {
        list-style-type: none;
    }
}

footer.site-footer {
    background: $accent-bg;
    padding-block: 0.5em;
    padding-inline: 1em;
    border-block-start: $border;
    border-end-start-radius: $radius;
    border-end-end-radius: $radius;
    img {
        margin-inline: 0.25rem;
    }
    nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    nav > * {
        margin-inline: 0.25rem;
    }
    nav > ul {
        line-height: 200%;
    }
}

table.wikitable {
    border: $border;
    border-collapse: collapse;
    background: $bg;
    tr, th, td {
        padding-inline: 0.5em;
        padding-block: 0.25em;
        border: $border;
        border-width: 1px;
    }
    th {
        background: $accent-bg;
    }
}

span.mw-editsection {
    font-size: 1rem;
    margin-inline-start: 0.5rem;
    .mw-editsection-bracket {
        text-orientation: mixed;
    }
}

.mw-htmlform {
    writing-mode: horizontal-tb;
    input, textarea, select {
        width: 90vw;
        max-width: 40em;
    }
    input[type="checkbox"], input[type="radio"] {
        width: auto;
    }
    input[type="submit"] {
        width: 100%;
    }
}

.mw-search-form-wrapper {
    writing-mode: horizontal-tb;
}

.mw-prefs-search {
    writing-mode: horizontal-tb;
    float: left;
}

.mw-htmlform-ooui-wrapper {
    overflow-x: hidden;
    overflow-y: scroll;
}

#mw-htmlform-source, #mw-htmlform-description {
    tr {
        display: flex;
        flex-direction: column;
    }
}

.mw-editform {
    .wikiEditor-ui {
        writing-mode: horizontal-tb;
        width: auto;
        block-size: 100%;
        .wikiEditor-ui-left {
            float: none;
        }
    }
    #wpTextbox1 {
        inline-size: 60em;
    }
    #wpSummary {
        inline-size: 100%;
    }
    .editCheckboxes {
        writing-mode: horizontal-tb;
        margin-left: 1em;
        > * {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }
    #editpage-copywarn {
        line-height: 200%;
    }
}

.mw-editform .editOptions {
    margin-bottom: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
    .dropdown-content {
        display: none;
        position: absolute;
        inline-size: 10em;
        margin: 0;
        padding: 0;
        list-style: none;
        background: $bg;
        color: $fg;
        box-shadow: $shadow;
    }
}

.dropdown:hover {
    .dropdown-content {
        display: block;
    }
    a {
        display: block;
        cursor: pointer;
    }
}

header.page-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: $accent-bg;
    padding-block: 0.5em;
    padding-inline: 1em;
    border-block-end: $border;
    border-start-start-radius: $radius;
    border-start-end-radius: $radius;
    > * {
        margin-block: 0.5em;
    }
}

h1.firstHeading {
    display: inline-block;
    font-weight: 600;
}

nav.page-menu {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-inline: 1em;
    border-radius: $radius-small;
    > li {
        display: block;
        border-block: $border;
        background: $bg;
        color: $fg;
    }
    > :first-child {
        border-inline-start: $border;
        border-start-start-radius: $radius-small;
        border-end-start-radius: $radius-small;
    }
    > :last-child {
        border-inline-end: $border;
        border-start-end-radius: $radius-small;
        border-end-end-radius: $radius-small;
    }
    li:hover {
        background: $fg;
        color: $bg;
    }
    li a {
        display: inline-block;
        padding-block: 0.75em;
        padding-inline: 0.5em;
        color: inherit;
    }
}

.catlinks {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    border: $border;
    border-width: 2px;
    margin-inline: 2em;
    margin-block-start: 2em;
    padding-inline: 2em;
    border-radius: $radius-small;
    ul {
        display: inline-block;
        padding: 0;
        padding-inline-start: 0.5em;
    }
    li {
        display: inline-block;
        list-style-type: none;
        margin-inline-end: 0.5em;
    }
    li::before {
        content: '·';
        margin-inline-end: 0.5em;
    }
    li:first-child::before {
        content: initial;
    }
}

.external.autonumber {
    display: inline-block;
}
