
header.site-header {
    writing-mode: horizontal-tb;
    width: 100vw;
    left: 0;
    right: 0;
    top: 0;

    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-block-end: 0.5rem;

    background: $header-bg;
    color: $header-fg;
    box-shadow: $shadow;

    .header-left, .header-center, .header-right {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex: 1;
    }
    img.site-logo {
        height: 2.8rem;
        margin-top: 0.5rem;
        margin-bottom: 0.25rem;
        width: auto;
    }
    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    nav > a {
        display: block;
        padding-block: 0.5rem;
        padding-inline: 0.5rem;
        color: $header-fg;
        word-break: keep-all;
    }
    nav > a:hover {
        background: $header-fg;
        color: $header-bg;
    }

    .align-top .dropdown-content {
        top: $nav-icon-size;
    }
    .align-bottom .dropdown-content {
        bottom: $nav-icon-size;
    }
    .align-left .dropdown-content {
        left: $nav-icon-size;
    }
    .align-right .dropdown-content {
        right: $nav-icon-size;
    }

    .dropdown, .icon {
        padding-inline: 0.5rem;
    }

    .dropdown-label, .icon {
        color: $bg;
        font-size: $nav-icon-size;
    }

    .user-menu, .site-nav {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width: 40em) {
    header.site-header {
        flex-direction: column;
    }
}